{% extends "layout.html" %}
{% block content %}
<div class="col-md-10">
  {% if current_user.is_authenticated %}
    <h2 class="mb-5">Forms Management Dashboard</h2>
    {% if not zoom_status %}
      <div>
        If you have not already, connect me to your Zoom account <a href="{{ url_for('zoom_auth') }}">here</a>!
      </div>
    {% endif %}

    {% if meetings %}
      <h3>Meetings from Zoom</h3>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Meeting ID</th>
            <th scope="col">Meeting Topic</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for meeting in meetings %}
          <tr>
            <th scope="row">{{ meeting['id'] }}</th>
            <td class="align-middle">
              {{ meeting['topic'] }}
            </td>
            <td class="align-middle">
              <a href="{{ url_for('new_form', meeting_id=meeting['id'], meeting_name=meeting['topic'])}}">Create form for this meeting</a>
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <div>
        No meetings found, so create a meeting or two on your Zoom client first!
      </div>
    {% endif %}

    {% if not meeting_forms %}
      <div>
        Create your first meeting form <a href="{{ url_for('new_form') }}">here</a>!
      </div>
    {% else %}
      <h3>Forms created</h3>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Meeting ID</th>
            <th scope="col">Form Name</th>
            <th scope="col"># of Registrants</th>
          </tr>
        </thead>
        <tbody>
          {% for meeting_form in meeting_forms %}
          <tr>
            <th scope="row">{{ return_idx_in_list(meeting_form, meeting_forms) + 1 }}</th>
            <td class="align-middle">{{ meeting_form.meeting_id }}</td>
            <td class="align-middle">
              <a href="{{ url_for('meeting_form', meeting_form_id=meeting_form.id) }}">{{ meeting_form.meeting_form_name }}</a>
            </td>
            <td class="align-middle">
                {{ list_length(meeting_form.registrants) }}
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    {% endif %}
  {% else %}
    <div>
      Please <a href="{{ url_for('login') }}">login</a> to manage your forms.
    </div>
  {% endif %}
</div>
{% endblock content %}